:root {
    --orange-dark: oklch(75% 0.2 35);
    --light-blue-dark: oklch(70% 0.09 185);
    --yellow-dark: oklch(85% 0.15 86);
    --orange: oklch(85% 0.2 35);
    --light-blue: oklch(85% 0.09 185);
    --yellow: oklch(90% 0.15 86);

    --white: oklch(95% 0 35);
    --black: oklch(20% 0 35);

    --font-size-xxl: 3.05rem;
    --font-size-xl: 2.44rem;
    --font-size-l: 1.95rem;
    --font-size-body: 1.25rem;
    --font-size-s: 1rem;
    --font-size-xs: .8rem --line-height-xxl: 1.15;
    --line-height-xl: 1.15;
    --line-height-l: 1.15;
    --line-height-body: 1.5;
    --line-height-s: 1.15;
    --line-height-xs: 1.15;

    --body-font: system-ui, sans-serif;
    --display-font: Lato, sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: var(--black);
    background-color: var(--white);
    font-family: var(--body-font);
    font-size: var(--font-size-body);
    line-height: 1.3;
}

.wrapper {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    padding: 2rem 1rem;
}

img {
    display: block;
    width: 100%;
}

p+p {
    padding-block-start: 1rem;
}

p:last-of-type {
    padding-block-end: 1rem;
}

section {
    padding: 0 0 2rem 0;
}

a {
    color: var(--orange-dark);
    font-weight: 700;
}

a:hover {
    color: var(--orange);
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 2rem;

    .card {
        width: 340px;
        padding: 2rem 1rem;
        h3 {
            padding-bottom: 1.5rem;
            text-align: center;
        }

        .prices {
            padding-inline: 1rem;
        }

        .price-title {
            text-decoration: underline;
            font-weight: 600;
        }

    }
}

.orange,
.blue,
.yellow {
    display: inline-block;
    padding: 0.3rem 0.8rem;
    border-radius: 12px;
    font-weight: 500;
}

.orange {
    background-color: var(--orange);
}

.blue {
    background-color: var(--light-blue);
}

.yellow {
    background-color: var(--yellow);
}

h1,
h2,
h3 {
    font-family: var(--display-font);
    line-height: 1.15;
}


h1 {
    font-size: var(--font-size-xxl);
    padding: 0 0 2rem 0;
    font-weight: 600;
}

#logo a{
    color: var(--black);
    text-decoration: none;
    font-size: 6rem;
}

h2 {
    font-size: var(--font-size-xl);
    padding: 0 0 2rem 0;
    font-weight: 600;
}

h3 {
    font-size: var(--font-size-l);
    padding: .5rem 0 1rem 0;
    font-weight: 400;
}

ul {
    padding-block-end: 1rem;
}

::marker {
    content: "- ";
}

small {
    font-size: var(--font-size-s);
}

#volantino {
    margin: 0 auto;
    max-width: 1200px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--white);
    background-color: var(--black);
    font-size: var(--font-size-body);
    padding: 1rem 1rem;
    font-weight: 600;

    a{
        color: var(--yellow-dark);
    }
    a:hover{
        color:var(--yellow)
    }
}



.pop-up {
    position: sticky;
    text-align: center;
    top: 0;
    background-color: var(--yellow-dark);
    text-align: center;
    font-weight: 400;
    line-height: 1.2;
    padding: 0.5rem 2rem 0.5rem 2rem;
    font-size: var(--font-size-l);

    a {
        color: inherit;
    }

    a:hover {
        color: var(--orange-dark);
    }

    .close {
        position: absolute;
        top: 0.5rem;
        right: 1rem;
        border: 2px solid  var(--black);
        border-radius: 50%;
        width: 1.7rem;
        height: 1.7rem;
        font-size: 1.1rem;
        line-height: 1;
        font-weight: 800;
        cursor: pointer;
        color: var(--black);;
    }

}
